---
title: "Porovnání výsledků zátěžových testů v sadě Visual Studio | Microsoft Docs"
ms.date: 10/19/2016
ms.topic: article
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: ghogen
ms.technology: vs-ide-test
ms.openlocfilehash: 2323943ed56c4be3d57f63ce94ddf66cdbc36f15
ms.sourcegitcommit: 900ed1e299cd5bba56249cef8f5cf3981b10cb1c
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 03/19/2018
---
# <a name="reporting-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Vytváření sestav s výsledky zátěžových testů pro porovnávání testů a analýzu trendů

Můžete vygenerovat sestav Microsoft Excel zátěžový test, které jsou založeny na dva nebo více výsledků testů. K dispozici jsou dva typy sestav pro zátěžový test:

- Spustit porovnání&mdash;Tato sestava je ve skutečnosti dvě sestavy, které zobrazují vedle sebe porovnání dat pomocí tabulky a pruhové grafy.

- Trend&mdash;můžete vygenerovat analýzy trendů na dva nebo více sestav. Výsledky se zobrazí ve spojnicových grafech.

Buď sestava umožňuje sdílet data výkonu s zúčastněným stranám a sdělit, zda celkový výkon a stav systému je zlepšuje nebo programy.

Definice sestavy jsou uloženy v databázi testu zatížení. Při uložení sestavy definici sestavy je uloženo v databázi a lze znovu použít později.

Navíc souboru tabulky je možné sdílet s zúčastněným stranám tak, aby zúčastněným stranám není potřeba připojení k databázi chcete zobrazit sestavu.

> [!NOTE]
> Pokud přidáte komentáře zátěžový test, zobrazí se v sestavě aplikace Excel. Další informace najdete v tématu [postupy: Přidání komentářů během analýzy byla dokončena zátěžového testu](../test/how-to-add-comments-on-a-completed-load-test.md).

## <a name="tasks"></a>Úlohy

|Úlohy|Související témata|
|-----------|-----------------------|
|**Vytvoření sestavy výkonnostní a zátěžové:** můžete vytvořit sestavy na zatížení a testy výkonnosti webu pomocí aplikace Microsoft Excel.|- [Postupy: vytváření sestav výkonnosti pro zátěžový Test pomocí aplikace Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Ruční vytvoření sestavy výkonnostní a zátěžové v aplikaci Microsoft Word:** můžete vytvořit sestavy na zatížení a testy výkonnosti webu ručně zkopírovat a vložit souhrn, tabulky a data grafu k dokumentu Microsoft Wordu.|- [Postupy: ruční vytvoření sestavy výkon testu zatížení pomocí aplikace Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Viz také

- [Analýza výsledků zátěžových testů](../test/analyze-load-test-results-using-the-load-test-analyzer.md)