---
title: Porovnání výsledků zátěžových testů v sadě Visual Studio
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: douge
ms.prod: visual-studio-dev15
ms.technology: vs-ide-test
ms.openlocfilehash: a23c6da2f27ef5b25d33caa3a464ec0f4018b40b
ms.sourcegitcommit: 4667e6ad223642bc4ac525f57281482c9894daf4
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 06/20/2018
ms.locfileid: "36280507"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Sestava zátěžové testy s výsledky pro porovnávání testů a analýzu trendů

Můžete vygenerovat sestav Microsoft Excel zátěžový test, které jsou založeny na dva nebo více výsledků testů. K dispozici jsou dva typy sestav pro zátěžový test:

- Spustit porovnání&mdash;Tato sestava je ve skutečnosti dvě sestavy, které zobrazují vedle sebe porovnání dat pomocí tabulky a pruhové grafy.

- Trend&mdash;můžete vygenerovat analýzy trendů na dva nebo více sestav. Výsledky se zobrazí ve spojnicových grafech.

Buď sestava umožňuje sdílet data výkonu s zúčastněným stranám a sdělit, zda celkový výkon a stav systému je zlepšuje nebo programy.

Definice sestavy jsou uloženy v databázi testu zatížení. Při uložení sestavy definici sestavy je uloženo v databázi a lze opětovně použít později.

Navíc souboru tabulky je možné sdílet s zúčastněným stranám tak, aby zúčastněným stranám není potřeba připojení k databázi chcete zobrazit sestavu.

> [!NOTE]
> Pokud přidáte komentáře zátěžový test, zobrazí se v sestavě aplikace Excel. Další informace najdete v tématu [postupy: přidávání komentářů během analýzy dokončeného zátěžového testu](../test/how-to-add-comments-on-a-completed-load-test.md).

## <a name="tasks"></a>Úlohy

|Úlohy|Související témata|
|-----------|-----------------------|
|**Vytvoření sestavy výkonnostní a zátěžové:** můžete vytvořit sestavy na zatížení a testy výkonnosti webu pomocí aplikace Microsoft Excel.|- [Postupy: vytvoření spouštění sestav výkonnosti test pomocí aplikace Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Ruční vytvoření sestavy výkonnostní a zátěžové v aplikaci Microsoft Word:** můžete vytvořit sestavy na zatížení a testy výkonnosti webu ručně zkopírovat a vložit souhrn, tabulky a data grafu k dokumentu Microsoft Wordu.|- [Postupy: ruční vytvoření sestavy výkon testu zatížení pomocí aplikace Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Viz také:

- [Analýza výsledků zátěžových testů](../test/analyze-load-test-results-using-the-load-test-analyzer.md)