---
title: "Postupy: vytváření vlastních grafů ve výsledcích zátěžového testu v sadě Visual Studio | Microsoft Docs"
ms.date: 10/19/2016
ms.topic: article
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: gewarren
ms.author: gewarren
manager: ghogen
ms.technology: vs-ide-test
ms.openlocfilehash: 740e9c9c04874f2510bf7b1c8992e28d62787ce8
ms.sourcegitcommit: 900ed1e299cd5bba56249cef8f5cf3981b10cb1c
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 03/19/2018
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Postupy: Vytváření vlastních grafů ve výsledcích zátěžového testu

Můžete navrhnout grafy zobrazují konkrétní informace o výsledcích zátěžového testu. Navrhnete vlastní graf zadáním čítače testu zatížení, které se zobrazí graf.

 Následující postup můžete provést běhu zátěžového testu nebo po jeho dokončení.

## <a name="to-create-a-custom-load-test-results-graph"></a>Chcete-li vytvořit vlastní zátěžový test výsledky grafu

1.  Na panelu nástrojů zátěžový Test, zvolte **přidejte nový graf**.

     \- nebo –

     V Analyzéru zátěžového testu, klikněte pravým tlačítkem v panelu čítačů nebo v grafu a pak vyberte **přidat graf**.

     **Zadejte název grafu** se zobrazí dialogové okno.

2.  V části **název grafu**, zadejte název pro rozhraní graph a zvolte **OK**.

     V Analyzéru zátěžového testu se zobrazí nový graf. Zobrazí se v panelu aktuálně vybraného grafu. nahradí grafu, který se zobrazí v příslušném panelu.

3.  Nový graf přizpůsobte přidáním čítačů. Další informace najdete v tématu [postupy: Přidání a odstranění čítačů pro grafy](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Viz také

- [Analýza výsledků zátěžových testů v zobrazení grafů](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Postupy: Přidání a odstranění čítačů pro grafy](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)